@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff


//=========================================
.menu
	width: 100%
	min-height: 150px
	position: relative
	background: #666666


h1, h2, h3, h4, p, span
	margin: 0 auto
	padding: 0 auto

.hlt-header
	width: 100%
	min-height: 695px
	position: relative
	direction: rtl
	.htl-text
		color: white
		width: 50%
		font-family: "VarelaRound-Regular"
		line-height: 1.467
		p
			font-size: 30px
		h1
			font-size: 42px






















@import "media" // Всегда в конце
